
	<!-- import bootstrap cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity=
"sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
	<!-- import jquery cdn -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity=
"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous">
	</script>
	<!-- import popper.js cdn -->
	<script src=
"https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity=
"sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous">
	</script>
	<!-- import javascript cdn -->
	<script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity=
"sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous">
	</script>
	<!-- CSS stylesheet -->
	<style type="text/css">
		html,
		body {
			height: 100%;
		}
		/* #green {
			height: 685px;
			background:  #0033cc;
			text-align: center;
			color: rgb(30, 23, 23);
		} */
	</style>

	<!-- top navbar -->
	<nav class="navbar navbar-expand-lg
			navbar-light" style="background-color: hsl(237, 100%, 50%);">
		<a class="navbar-brand" href="#" style="color: #090909;">App</a>
		<!-- hamburger button that toggles the navbar-->
		<button class="navbar-toggler" type="button"
			data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
			</span>
		</button>
		<!-- navbar links -->
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color: hsla(48, 100%, 50%, 0.348);">
			<div class="navbar-nav" style="background-color:  #7ea3b9;">
				<a class="nav-item nav-link
					active" href="#"> Home
				</a>
				<a class="nav-item nav-link "  href="#" style="color: #fbfbfb;  font-style: normal;" routerLink="student">Students</a>
				<!-- <a class="nav-item nav-link" href="#">Contact</a>
				<a class="nav-item nav-link" href="#">About</a>
                <i class="bi bi-person-check-fill" style="margin-left: 390%; font-size: 24px;"></i> -->
			</div>
		</div>
	</nav>
	<!-- This container contains the sidebar
			and main content of the page -->
	<!-- h-100 takes the full height of the body-->
	<div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-2" id="blue">
				<h4></h4>
				<!-- Navigation links in sidebar-->
                <!-- <br><br>
				<i class="bi bi-people-fill yellow-icon"> <a href="#" style="color: #f5f4f1; font-style: normal;" routerLink="" > &nbsp;Students Details</a> </i> 
                
				<br/>
				<br/>
				<i class="bi bi-bookmark-check-fill yellow-icon"><a href="#" style="color: #fbfbfb;  font-style: normal;" routerLink="student"> &nbsp;Students Marks</a> </i>
				<br/> -->
				
			</div>
			<!--Contains the main content
					of the webpage-->
			<div class="col-10" style="text-align: justify;">
                <br><br>
                <router-outlet></router-outlet>
			</div>
		</div>
	</div>



